name: Sync Latest Code

on:
  #schedule:
  #  - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        sparse-checkout: |
          /*
          !/README.md
          !/.github/
          !/README_en.md
      
    - name: Set Git config
      run: |
          git config user.name "Jarvis"
          git config user.email "you@example.com"
    - name: Update repositories
      run: |
        mkdir tmp
        
        git clone https://github.com/xiaorouji/openwrt-passwall-packages.git tmp/openwrt-passwall
        rm -rf tmp/openwrt-passwall/.git
        rm -rf tmp/openwrt-passwall/.github
        rsync -av --checksum tmp/openwrt-passwall/ "openwrt-passwall"
        
        git clone --depth 1 https://github.com/xiaorouji/openwrt-passwall.git tmp/luci-app-passwall
        rsync -av --checksum tmp/luci-app-passwall/luci-app-passwall/ "luci-app-passwall-smartdns"
        sed -i 's/PKG_NAME:=luci-app-passwall/PKG_NAME:=luci-app-passwall-smartdns/g' luci-app-passwall-smartdns/Makefile
        rm -rf tmp/luci-app-passwall
        
        git clone --depth 1 https://github.com/xiaorouji/openwrt-passwall.git tmp/luci-app-passwall
        rsync -av --checksum tmp/luci-app-passwall/luci-app-passwall/ "luci-app-passwall"
      
        git clone --depth 1 https://github.com/xiaorouji/openwrt-passwall2.git tmp/luci-app-passwall2
        rsync -av --checksum tmp/luci-app-passwall2/luci-app-passwall2/ "luci-app-passwall2"
      
        git clone https://github.com/pymumu/smartdns.git tmp/smartdns
        rm -rf tmp/smartdns/.git
        rm -rf tmp/smartdns/.github
        rsync -av --checksum tmp/smartdns/ "smartdns"
        
        git clone --branch v5 https://github.com/sbwml/luci-app-mosdns.git tmp/luci-app-mosdns
        rsync -av --checksum tmp/luci-app-mosdns/luci-app-mosdns/ "luci-app-mosdns"
        rsync -av --checksum tmp/luci-app-mosdns/mosdns/ "mosdns"
        rsync -av --checksum tmp/luci-app-mosdns/v2dat/ "v2dat"
        
        git clone https://github.com/sbwml/luci-app-alist.git tmp/luci-app-alist
        rsync -av --checksum tmp/luci-app-alist/luci-app-alist/ "luci-app-alist"
        rsync -av --checksum tmp/luci-app-alist/alist/ "alist"
  
        git clone --depth 1 --branch master https://github.com/UnblockNeteaseMusic/luci-app-unblockneteasemusic.git tmp/luci-app-unblockneteasemusic
        rm -rf tmp/luci-app-unblockneteasemusic/.git
        rm -rf tmp/luci-app-unblockneteasemusic/.github
        rsync -av --checksum tmp/luci-app-unblockneteasemusic/ "luci-app-unblockneteasemusic"
        
        rm -rf tmp
    - name: Commit changes
      run: |
        cd "$GITHUB_WORKSPACE/"
        if [[ $(git status --porcelain) ]]; then
          git add .
          git commit -m "Sync with external repositories"
          git push origin main
        else
          echo "No changes to commit."
        fi
